<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owan Culinary</title>
    <script
      src="https://kit.fontawesome.com/a67c0f2bc6.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="./app.bundle.js"></script>
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="../public/icon-128x128.png" type="image/x-icon" />
  </head>
  <body>
    <a href="#list" id="skip-button" tabindex="0">skip to content</a>
    <header>
      <nav>
        <h1 id="judul" tabindex="0"><span id="span">Owan</span> Culinary</h1>
        <ul id="navbar" tabindex="0">
          <li><a href="#" tabindex="0">Home</a></li>
          <li><a href="#/liked" tabindex="0">Liked Restaurant</a></li>
          <li>
            <a href="https://instagram.com/rdn.016" tabindex="0">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--responsive nav-->
    <input type="checkbox" id="check" class="navigation-bar" />
    <label for="check">
      <i class="fas fa-bars" id="btn" role="button" tabindex="0"></i>
      <i class="fa-solid fa-xmark" id="cancel" role="button" tabindex="0"></i>
    </label>
    <div class="sidebar">
      <ul id="side">
        <li><a href="#" tabindex="0">Home</a></li>
        <li><a href="#/liked" tabindex="0">Liked Restaurant</a></li>
        <li>
          <a href="https://instagram.com/rdn.016" target="_blank" tabindex="0"
            >About Us</a
          >
        </li>
      </ul>
    </div>
    <div class="hero">
      <picture>
        <source media="(mix-width: 780px)" srcset="./images/hero-image-small.jpg">
        <img src="./images/hero-image-large.jpg" alt="Hero Image" />
      </picture>
      <div class="moto">
        <div class="moto-container">
          <h1 style="color: white">
            Find <span id="moto">A Good Place,</span> <br />
          </h1>
          <h1 style="color: white; margin-top: 10px">
            Start Your <span id="moto">Good Taste</span>
          </h1>
        </div>
      </div>
    </div>

    <main id="mainContent"></main>
    <!-- <p id="loading">Loading...</p> -->
    <br /><br />

    <footer id="footer">
      <div class="about">
        <h2 style="font-weight: bolder" class="judul">
          <span id="span">Owan</span> Culinary
        </h2>
        <p class="about-desc">
          Owan Culinary telah berdiri sejak 2024 lebih tepatnya Januari 2024.
          Daripada itu mending makan di salah satu restoran ini deh
        </p>
      </div>

      <div class="contact">
        <h2 class="contact-header">Contact Us</h2>
        <ul class="contact-list">
          <li>support@owanrestaurant.id</li>
          <li>021 - 4434 - 5378</li>
          <li>
            Jl. Plemburan Gg. Mulia IV, Sedan, Sariharjo, Kec. Ngaglik,
            Kabupaten Sleman, Daerah Istimewa Yogyakarta 55581
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
